#sidenav {
  width: 2%;
  height: 1000px;
  background-color: #02030e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  position: fixed;
}
#sidenav:hover {
  width: 270px;
  transition: 0.5s;
}
#sidenav2 {
  width: 2%;
  height: 1000px;
  background-color: #02030e;
  position: fixed;
  transition: 0.5s;
  overflow-x: hidden;
}
#sidenav2:hover {
  width: 270px;
  height: 1000px;
  transition: 0.25s;
  position: fixed;
  background-color: #02030e;
  box-shadow: 0 0 5px 1700px rgba(0, 0, 0, 0.527);
}
#menu {
  background-color: #02030e;
  padding-left: 40px;
  white-space: nowrap;
}
a {
  font-family: norm;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

a:hover {
  color: aqua;
  transition: 0.5s;
}
#item {
  font-size: 17px;
  vertical-align: middle;
  transition: 1s;
}
#iconimgmenu {
  height: 25px;
  width: auto;
}
#iconmainimg {
  height: 100px;
  width: auto;
  margin-left: 40px;
}
